<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    </head>


    <body>
        <div id="main">
            <!-- <img src="https://cdn.theatlantic.com/assets/media/img/mt/2016/09/RTX1GZCO/lead_720_405.jpg?mod=1533691850" align = "top" > -->
            <h1 class="sentence">{{sentence}}</h1>

            <img src="https://media.wired.com/photos/5a3c6ae53dbbc51f4dd9bca6/master/w_2400,c_limit/DonaldTrump-TopArt-893782172.jpg">
        </div>
        
    </body>


</html>
